<!DOCTYPE html>
<!--[if lte IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>          <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->  <html class="no-js"> <!--<![endif]-->
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Site Info -->
    <title>Admin : Jengnet</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="homescreen.png" />
    <meta name="format-detection" content="telephone=no" />
    
    <meta name="viewport" content="width=device-width initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/assets/css/style.css" media="screen" rel="stylesheet" />

  </head>
  <body class="admin">
    <header class="cf">
      <a href="#" id="logo">Jengnet Admin</a>
      <nav>
        <ul>
          <li><a href="/logout/">Logout</a></li>
        </ul>
      </nav>
    </header>
    <section id="admin">
      <div id="sidebar">
        <ul>
          <li><a href="/admin/">Admin</a></li>
          <li><a href="/admin/enquiries">Enquiries</a></li>
          <li><a href="/admin/articles">Articles</a></li>
          <li><a href="/admin/comments">Comments</a></li>
        </ul>
      </div>
      <div id="main">
        <h2>Enquiries (<span class="count"><?php echo $newEnquiries; ?></span> New)</h2>
        <h2>Comments (<span class="count"><?php echo $newComments; ?></span> New)</h2>
      </div>
    </section>
  </body>
  <script type="text/javascript">var nonce = '<?php echo $this->_nonce; ?>';</script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/init.js"></script>
</html>